<section class="articles-section">
    <div class="articles-container">
      <div class="articles-scroll" >
          <a  class="article-card" *ngFor="let article of infoarticles"  >
            <div class="card-image-container" >
              <img [src]="article.imageUrl" [alt]="article.alt" class="card-image">
              <div class="image-overlay"></div>
              <h3 class="card-title">{{ article.title }}</h3>
            </div>
          </a>
      </div>
    </div>

    <div class="articles-footer">
      <div class="footer-line"></div>
      <a routerLink="/articles" class="voir-plus"  routerLink="/articles">Voir Plus</a>
    </div>
  </section>