.mission-section {
    text-align: center;
    padding: 2rem;
    max-width: 85%;
    margin: auto;
  
    h2 {
      color: rgba(17, 110, 182, 1);
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.3rem;
      color: rgba(7, 46, 76, 1);
      margin-bottom: 2rem;
      line-height: 1.6;
      padding:1% 5%;
      box-sizing: border-box;

    }
  
    .missions {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  
    .mission {
      width: 240px;
      text-align: center;
  
      .icon {
        width: 110px;
        height: 110px;
        margin: auto;
        background-color: rgba(250, 206, 191, 1);
        border-radius: 50%;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
      }
      .icon img{
        width: 50%;
        height: auto;
      }
  
      .desc {
        font-size: 0.9rem;
        color: rgba(7, 46, 76, 1);
        line-height: 1.4;
        font-weight: 500;
      }
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.mission-section{
  width: 95%;
  padding: 1rem;
  p{
    padding: 0;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  h2{
    font-size: 32px;
  }
}
  }

  /* Téléphones en portrait */
@media (max-width: 767px) and (orientation: portrait) {
  .mission-section{
    max-width: 95%;
    padding: 0.5rem;
    h2{
      font-size: 24px;
      margin-bottom: 0;
    }
    p{
      font-size: 15px;
      text-align: justify;
      hyphens: auto;
    }
    .mission{
      width: 160px;
    }
    .missions{
      gap: 0;
    }
  }
 .mission .desc{
    text-align: center;
    font-size: 11px !important;
    color: rgba(7, 46, 76, 1);
  }
  .mission .icon{
    width: 90px !important;
    height: 90px !important;
  }

}  