.firstsection {
    background: url("/images/Pattern-Illustration.png") no-repeat center center/cover;
    background-color: rgba(7, 46, 76, 1);
    width: 100%;
    height: 80vh;
    color: white;
    position: relative;
}
.image-container{
  display: block !important;
  max-width: 30% !important;
  position: absolute !important;
  bottom: 0;
  height: auto;
  margin-right: 2rem;
  right: 10rem;
}
.image-container img {
  max-width: 2500px;
  width: 120%;
  height: 100%;
  object-fit: contain;
  display: block;
}
@media(max-width:2000px){
  .firstsection{
    height: 100vh;
  }
  .image-container {
    display: block;
    max-width: 40%;
    position: absolute; 
    bottom: 0; 
    right: 5rem;
    height: auto;
    margin-right: 2rem; /* Ajoute un espace entre l'image et la bordure droite */
  }

  .image-container img {
    max-width: 450px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  .niet {
    font-size: 3.8rem !important;
    margin-bottom: 3.6%;
}
.desc {
  margin-bottom: 5%;
  font-size: 1.5em !important;
}
.content{
  max-width: 60% !important;
}
  
}
.desc {
  margin-bottom: 5%;
  font-size: 2em;
}
.content {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement le texte */
}


.firstblock {
    
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centre verticalement le contenu */
    margin: auto;
    width: 85%;
    height: 100%; /* Remplit toute la hauteur du parent */
    top: 50%;
}



.niet {
    font-size: 5rem;
    margin-bottom: 3.6%;
}


.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .search-bar input {
    padding: 1rem 1rem;
    border: none;
    border-radius: 25px 0 0 25px;
    width: 200px;
  }
  .search-container {
    position: relative;
    width: 40%;
    max-width: 400px; /* Ajustez selon vos besoins */
  }

  .team p , .clients p {
    font-size: 20px;
  }
  
  .search-container input {
    width: 100%;
    padding: 15px 35px 20px 35px; /* Ajout d'espace pour le bouton */
    border: 1px solid #ccc;
    border-radius: 30px; /* Style arrondi */
    font-size: 16px;
    outline: none;
    font-family: "poppins",sans-serif;
  }
  
  .search-container button {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajustez selon la taille du bouton */
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .search-container button img {
    width: 30px; /* Ajustez selon vos besoins */
    height: 30px;
  }
  
  

.info {
    display: flex;
    gap: 2rem;
}

.info div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.info div img {
    width: 30px;
    height: 30px;
}



// bloc localisation
.localisationinfo {
  margin-top: 3%;
}

.contact-section {
  width: 85%;
  margin: 0 auto;
  background-color: rgba(231, 241, 248, 1);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.map-container {
  position: relative;
  width: 304px;
  height: 105px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-icon {
  color: rgba(17, 110, 182, 1);
  font-size: 2rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.contact-info {
  display: flex;
  flex-grow: 1; /* Prend toute la largeur restante */
  gap: 20px;
  margin-left: 15px;
}

.contact-info div {
  flex: 1; /* Chaque div dans contact-info prend la même largeur */
  line-height: 1;
}

.contact-info p {
  margin: 8px 0;
  color: rgba(7, 46, 76, 1);
}

.contact-info a {
  color: rgba(7, 46, 76, 1);
  text-decoration: none;
}

.contact-label {
  font-weight: bold;
  color: rgba(17, 110, 182, 1);
}

.map-overlay img {
  width: 40px;
  height: 40px;
}
.contact-address {
  border-right: 3px solid rgba(7, 46, 76, 1);
}

.contact-phone {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-phone div {
  display: flex;
  align-items: center;
  gap: 10px;
}

//services
/* services.component.scss */
.services-section {
  margin-top: 3%;
  position: relative;
  background-color: rgba(231, 241, 248, 1);
  border-radius: 80px;
  padding: 60px 20px 80px;
  margin-bottom: 40px;
  overflow: hidden;
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 97.22%, 2.00% 96.74%, 4.00% 96.08%, 6.00% 95.27%, 8.00% 94.34%, 10.00% 93.30%, 12.00% 92.20%, 14.00% 91.06%, 16.00% 89.93%, 18.00% 88.83%, 20.00% 87.81%, 22.00% 86.88%, 24.00% 86.09%, 26.00% 85.45%, 28.00% 84.99%, 30.00% 84.72%, 32.00% 84.64%, 34.00% 84.77%, 36.00% 85.09%, 38.00% 85.60%, 40.00% 86.28%, 42.00% 87.11%, 44.00% 88.06%, 46.00% 89.11%, 48.00% 90.21%, 50.00% 91.35%, 52.00% 92.48%, 54.00% 93.57%, 56.00% 94.59%, 58.00% 95.49%, 60.00% 96.26%, 62.00% 96.88%, 64.00% 97.31%, 66.00% 97.56%, 68.00% 97.60%, 70.00% 97.45%, 72.00% 97.10%, 74.00% 96.57%, 76.00% 95.87%, 78.00% 95.02%, 80.00% 94.05%, 82.00% 92.99%, 84.00% 91.88%, 86.00% 90.74%, 88.00% 89.61%, 90.00% 88.53%, 92.00% 87.53%, 94.00% 86.64%, 96.00% 85.89%, 98.00% 85.30%, 100.00% 84.89%);
}

.services-content {
  margin-bottom: 3%;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: #FF6B2C;
  font-size: 32px;
  margin-bottom: 20px;
}

.services-description {
  max-width: 800px;
  margin: 0 auto 40px;
  color: rgba(7, 46, 76, 1);
  line-height: 1.6;
  font-weight: 500;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 50px 30px;
  justify-items: center;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 8%;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 200px;
}

.icon-container {
  width: 90px;
  height: 90px;
  background-color: #116EB6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}

.service-item p {
  text-align: center;
  font-size: 15px;
  line-height: 1.4;
  color: rgba(7, 46, 76, 1);
  font-weight: 600;
}

/* Responsive Design */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}

//réalisations
/* realisations.component.scss */
.realisations {
  padding: 2%;
  box-sizing: border-box;
}

.realisations-container {
  width: 85%;
  margin: 0 auto;
}

.title-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.title-section h2 {
  color: #116EB6;
  font-size: 32px;
  margin: 0;
  white-space: nowrap;
}

.title-section .title-line {
  flex-grow: 1;
  height: 2px;
  background-color: #116EB6;
}

.realisationscontent {
  display: flex;
  gap: 40px;
  align-items: center;
}

.images-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 35%;
  height: 65vh;
}

.grid-item {
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.worker1 {
  grid-column: 1;
  grid-row: 1;
}

.card1 {
  grid-column: 2;
  grid-row: 1;
  background-color: rgba(254, 239, 235, 1);
}

.card2 {
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(231, 241, 248, 1);
}

.worker2 {
  grid-column: 2;
  grid-row: 2;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-content {
  flex: 1;
}
@media(max-width:2000px){
  .text-content h3 {
    font-size: 2em !important;
  }
  .text-content p  {
    font-size: 20px !important;
  }
}

.text-content h3 {
  color: #116EB6;
  font-size: 2.5em;
  line-height: 1.4;
  margin-bottom: 20px;
}

.text-content p {
  color: rgba(7, 46, 76, 1);
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 500;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.button-container .line {
  width: 100px;
  height: 2px;
  background-color: #FF6B2C;
}

.action-button {
  background: none;
  border: none;
  color: #FF6B2C;
  font-size: 22px;
  cursor: pointer;
  padding: 10px 0;
  transition: opacity 0.3s ease;
  font-weight: 600;
}

.action-button:hover {
  opacity: 0.8;
}

@media (max-width: 968px) {
  .realisationscontent {
    flex-direction: column;
  }

  .text-content {
    text-align: center;
  }

  .button-container {
    justify-content: center;
  }

  .images-grid {
    width: 100%;
  }
}


//articles css

.articles-header {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 0 0.8%;
}

.articles-title {
  color: #FF5722;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.title-underline {
  position: absolute;
  top: 32px;
  left: 220px;
  right: 0;
  height: 2px;
  background-color: #FF5722;
}


