<div class="services-container">
    <div class="services-grid">
        <div *ngFor="let service of services" class="service-card">
            <div class="icon-container">
                <img [src]="service.icon" [alt]="service.title">
            </div>
            <h3>{{ service.title }}</h3>
            <div class="sub-services">
                <ng-container *ngFor="let subService of service.subServices; let last = last">
                    <p>{{ subService }}</p>
                    <div class="separator" *ngIf="!last"></div>
                  </ng-container>
            </div>
            <div class="bottom"></div>
        </div>
    </div>
</div>
