<section class="service-section" *ngFor="let section of sectionData">
    <!-- Titre -->
    <h1>{{ section.title }}</h1>
  
    <!-- Description -->
    <div class="description">
      <p *ngFor="let paragraph of section.description1">{{ paragraph }}</p>
    </div>
  
    <!-- Contenu principal -->
    <div class="content">
      <!-- Colonne gauche (texte) -->
      <div class="text-content">
        <p *ngFor="let paragraph of section.description">{{ paragraph }}</p>
      </div>
  
      <!-- Colonne droite (vidéo) -->
      <div class="video-content">
        <div class="video-thumbnail-container">
          <img [src]="section.video.thumbnail" alt="Vidéo thumbnail" />
          <button class="play-button" (click)="openVideoModal(section.video.url)">
            <i class="fa-solid fa-play fa-beat"></i>
          </button>
        </div> 
      </div>
    </div>
    <!-- Modal video -->
    <app-modal-video></app-modal-video>
    <!-- Galerie d'images -->
    <div class="image-gallery">
      <div class="image" *ngFor="let image of section.images">
        <img [src]="image.src" [alt]="image.alt" />
      </div>
    </div>
  </section>
  