<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal">
  <h2>Rédiger votre témoignage</h2>
  <div class="blockForm">
    <form [formGroup]="testimonialForm" (ngSubmit)="submitForm()">
      <div class="title"> <img src="icons/inspection/user-tag.png" alt="Aucune donnée trouvée" />
        <h2>Vos informations</h2>
      </div>
      <div class="form-field">
        <label for="profil">Profil du temoin <span>(Facultatif)</span></label>
        <div class="image-preview">
          <img class="imgselect" [src]="selectedPhoto || '/icons/iconsMissionGrid/UnknowUser.jpg'" alt="Aperçu de l'image">
          <button class="select" (click)="triggerFileInput()">+</button>
          <input type="file" id="image" (change)="onPhotoChange($event)" style="display: none;">
        </div>
      </div>
      <div class="form-field">
        <label for="name">Nom <span class="etoile">*</span></label>
        <input type="text" id="name" placeholder="Saisissez votre nom" formControlName="name" required>
      </div>
      <div class="form-field">
        <label for="email">E-mail <span class="etoile">*</span></label>
        <input type="email" id="email" placeholder="Saisissez votre e-mail" formControlName="email" required>
      </div>
      <div class="form-field">
        <label for="profession">Profession<span>(Facultatif)</span></label>
        <input type="text" id="profession" placeholder="Saisissez votre profession" formControlName="profession">
      </div>
      <div class="title"> <img src="icons/inspection/information.png" alt="Aucune donnée trouvée" />
        <h2>Temoignage</h2>
      </div>
      <div class="form-field">
        <label for="description">Description du témoignage</label>
        <textarea id="description" formControlName="description" rows="5" placeholder="Description"></textarea>
      </div>

      <div class="divButton">
        <button type="submit" [disabled]="testimonialForm.invalid">Envoyer votre témoignage</button>
      </div>
    </form>
  </div>
</div>