.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 90%;
    max-height: 85%;
    max-width: 600px;
    overflow: hidden;
  }
  .blockForm {
    position: relative;
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: none;
    
  }
  label{
    font-family: "poppins-bold";
    color: rgba(7, 46, 76, 1) ;
  }
  span{
    color: rgba(169, 169, 169, 1);
    font-size: 13px;
    margin-left: 0.5rem;
  }
  .modal h2{
    text-align: center;
    color: rgba(17, 110, 182, 1);
    font-size: 22px;
    margin-bottom: 1.5rem;
  }
  .blockForm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
  }
  .etoile{
    color: rgba(255, 10, 10, 1);
    font-size: 15px;
    font-family: 'poppins-bold';
  }
  .form-field {
    margin-bottom: 1rem;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    color: rgb(168, 167, 167);
    font-size: 14px;
    background: rgb(252, 251, 251);
    font-family: 'poppins';
    &:focus {
        outline: none;
        border-color: #007bff;
      }
  }
 
  .form-field input[type="file"] {
    font-family: 'Poppins', sans-serif;
  }
  
  .divButton{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  button {
    display: block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
  }
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .title{
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    img{
        width: 25px;
        height: 25px;
    }
    h2{
        color: rgba(137, 133, 131, 1);
        font-size: 16px;
    }
  }

  .imgselect{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
  }
  .image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 125px;
    margin: auto;
  }
  .select {
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 767px) and (orientation: portrait) {
    .modal {
      padding: 2rem 1.5rem;
    }
    .modal h2 {
      font-size: 20px;
      margin-bottom: 1rem;
    }
    .form-field input, .form-field textarea {
      font-size: 12px;
    }
    .title{
      margin-top: 0rem;
      h2{
        font-size: 18px;
      }
    }
    .divButton {
      margin-bottom: 0.5rem;
    }
    button {
      padding: 0.5rem 1rem;
    }
    .select{
      padding: 0.5rem !important;
    }
  }
  .fa-plus{
    font-size: 20px;
    font-weight: bold;
  }