.header {
    background-color: rgba(7, 46, 76, 1);
    width: 100%;
    height: auto;
    color: white;
}

.containerIntro h1 {
    font-size: 2.7rem;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 1.5%;
}
.containerIntro p {
    width: 80%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5%;
}
@media(max-width:400px){
  .containerIntro p {
    font-size: 1rem;
    text-align: center;
  }
  .containerIntro h1{
    font-size: 2rem;
  }
}


.service-container1,.service-container2 {
    background: url("/images/vent.png") no-repeat center center;
    position: relative;
    background-size: cover;
    margin: auto;
    width: 80%;
    height: 320px;
    padding: 3rem;
    margin-top: 8%;
    transition: all 0.5s ease;
    z-index: 1;
    // border-radius: 0 15px 15px  15px ;
  }
  .service-container2{
    margin-bottom: 5% ;
    background-size: cover;
    background: url("/images/energique.png") no-repeat center center;
    .block1{
      background-color: rgba(242, 117, 52, 1);
    }
  }
  .service-container1:hover, .service-container2:hover,.service-container1.active, 
  .service-container2.active {
    height: 450px;
    background-size: 110% 110%;
  }
  .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 2;
    // border-radius: 0 15px 15px  15px ;
  }
  .block1{
    background-color: rgba(17, 110, 182, 1);
    width: 190px;
    height: 60px;
    position: absolute;
    // border-radius:15px 15px  0 0 ;
    font-size: 15px;
     top: 0; 
    left: 0;
    transform: translateY(-100%);
    display: flex;
    gap:0.6rem;
    padding: 1.5rem;
    align-items: center;
    h3{
      color: white;
    }
  }
  .block2{
    gap: 0.6rem;
    width: 100%;
    height: auto;
    max-height: 170px;
    min-height: 70px;
    padding: 3%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease;
    z-index: 3;
  
  }
  .service-container1:hover .block2,
.service-container2:hover .block2,.service-container1.active .block2, 
.service-container2.active .block2 {
  opacity: 1;
  // height: 450px;
  transform: translateY(0);
}
  .service{ 
    padding: 0.5rem 1rem;
    border: 1px solid white;
    color: white;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
  }


  // / Media queries avec corrections
  @media screen and (max-width: 1024px) {
    .service-container1, .service-container2 {
      width: 90%;
      height: 300px; // Hauteur fixe
      padding: 2rem;
      margin-top: 10%;
    }
  
    .service-container1:hover, .service-container2:hover {
      height: 450px; // Même hauteur au hover
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .service-container1, .service-container2 {
      width: 95%;
      height: 250px;
      padding: 1.5rem;
      margin-top: 10%;
    }
  
    .service-container1:hover, .service-container2:hover {
      height: 400px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .service-container1, .service-container2 {
      width: 100%;
      height: 250px;
      padding: 1rem;
      margin-top: 10%;
    }
    .containerIntro p{
      width: 90%;
    }
    .block1{
      transform: translateY(0);
    }
    .service-container1:hover, .service-container2:hover {
      height: 350px;
    }
    .service{
      padding: 0.2rem 1rem !important;
      border: 1px solid white;
      color: white;
      height: auto;
      border-radius: 15px;
      cursor: pointer;
      font-size: 14px;
      font-style: "poppins-bold";
    }
    .block2{
      top: 20%;
    }
  
  }
  
  @media (max-width: 767px) and (orientation: portrait) {
    .containerIntro h1{
      padding-top: 20%;
    }
   
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .containerIntro h1{
      padding-top: 12%;
    }
  }
  