<section class="header">
  <div class="containerIntro">
    <h1>Nos Services</h1>
    <p>Lorem ipsum dolor sit amet consectetur.
      Egestas nulla est urna ullamcorper duis
      nibh vitae elementum. Eros suspendisse
      natoque tortor urna tristique amet in
      nullam lacus. Neque dolor maecenas
      adipiscing sed natoque aliquam.
      Laoreet nisl sit pellentesque
      commodo aenean vitae hendrerit
      hendrerit. Amet eu.Lorem ipsum dolor
      sit amet consectetur. Egestas nulla est urna ullamcorper duis nibh vitae elementum.
      Eros suspendisse natoque tortor urna tristique amet in Amet eu.</p>
  </div>
</section>
<div class="service-container">
  <app-service-card 
    *ngFor="let service of services" 
    [service]="service">
  </app-service-card>
</div>

<app-request-form></app-request-form>