.team-section {
    background-color: rgba(231, 241, 248, 1);
    text-align: center;
    padding: 2rem;
    overflow: hidden;
  
    h2 {
      color: rgba(17, 110, 182, 1);
      font-size: 2.5rem;
      margin: 0 auto 1rem;
      width: 50%;
      padding: 1% 2%;
      box-sizing: border-box;
    }
  
    p {
      color: rgba(7, 46, 76, 1);
      font-size: 1.2rem;
      width: 75%;
      margin: 0 auto 2%;
      padding: 1% 6%;
      box-sizing: border-box;
      line-height: 1.5;
    }
  
    .carousel {
      position: relative;
      width: 100%;
      padding: 20px 0;
      overflow: hidden;
  
      .carousel-track {
        display: flex;
        gap: 0.8rem;
        animation: scroll 40s linear infinite;
        
        &:hover {
          animation-play-state: paused;
        }
      }
  
      .carousel-item {
        flex: 0 0 300px;
        padding: 0 1rem;
        
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
  
        h3 {
          color: rgba(7, 46, 76, 1);
          margin-top: 1rem;
        }
  
        p {
          color: rgba(7, 46, 76, 1);
          font-size: 0.9rem;
          margin: 0.5rem 0;
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50%));
    }
  }