.faq{
    display: flex;
    max-width: 85%;
    margin: auto;
    gap: 3rem;
    margin-top: 10%;
    padding-left: 2%;
    margin-bottom: 10%;
}

.blockImage, .blockImage1{
    display: flex;
    justify-content: center;
    max-width: 60%;
}
.blockImage img, .blockImage1 img{
    max-width: 80%;
    max-height: 55%;
    object-fit: contain;
}

.blockImage1{
  display: none;
}
@media (max-width: 500px)  {
  
  .faq{
    width: 90% !important;
    margin-top: 20%;
  }  
  .blockImage{
      display: none !important;
  }
  .faq-header h1{
    font-size: 2.5rem !important;
    line-height: 1.2!important;
  }
  .faqblock{
    margin-bottom: 70%;
  }

  .no-results{
    max-width: 100% !important;
    margin: auto;
    margin-bottom: 50%;
    img{
      width: 100%;
    }
  }
    .blockImage1{
      display: block !important;
      max-width: 100% !important;
      justify-content: end !important;
      img{
        max-width: 100%;
      }
  }
  @media (orientation: landscape) {
    .faq {
      margin-top: 8%;
    }
    .blockImage1{
      display: block !important;
      max-width: 100% !important;
      justify-content: end !important;
      img{
        max-width: 80%;
      }
  }
  .no-results{
    margin-bottom: 10% !important;
  }
  .faqblock{
    margin-bottom: 20%;
  }
  }
}
@media (max-width: 900px)  {
  
  .faq{
    width: 90% !important;
    margin-top: 10%;
  }  
  .blockImage{
      display: none !important;
  }
  .faq-header h1{
    font-size: 2.5rem !important;
    line-height: 1.2!important;
  }
  .faqblock{
    margin-bottom: 50%;
  }
  .faq-page{
    max-width: 50%;
  }

  .no-results{
    max-width: 100% !important;
    margin: auto;
    margin-bottom: 50%;
    img{
      width: 100%;
    }
  }
    .blockImage1{
      display: block !important;
      max-width: 100% !important;
      img{
        max-width: 80%;
      }
  }
  @media (orientation: landscape) {
    .faq {
      margin-top: 8%;
      max-width: 90% !important;
    }

    .blockImage1{
      display: block !important;
      max-width: 100% !important;
      justify-content: end !important;
      img{
        max-width: 80%;
      }
  }
  .no-results{
    margin-bottom: 10% !important;
  }
  .faqblock{
    margin-bottom: 10%;
  }
  }
}


@media(max-width:2000px){
  .blockImage img{
    max-width: 75%;
    max-height: 45%;
  }
}

.faq-page {
    max-width: 40%;
    color: #07304c;
    max-width: 800px;
  }
  
  .faq-header h1 {
    font-size: 3rem;
    color: #116eb6;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .faq-header p {
    margin: 1rem 0;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
  }
  
  .search-bar input {
    width: 100%;
    padding: 0.8rem 2.5rem 0.8rem 1rem; /* Ajouter un espace pour l'icône */
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 50px;
    color: rgba(200, 200, 200, 1);
    background-color: rgba(251, 251, 251, 1);
    border: 1px solid white;
  }
  .search-bar input ::placeholder{
    color:rgba(200, 200, 200, 1) ;
  }
  .search-bar input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .search-bar .search-btn {
    position: absolute;
    right: 0.5rem; /* Positionner l'icône à l'intérieur de l'input */
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .search-bar .search-btn img {
    width: 30px;
    height: 30px;
  }
  
  .faq-item {
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom : 1px solid  #116eb6;
  }
  
  .faq-title h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #116eb6;
  }
  
  .faq-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.6;
    transition: max-height 0.3s ease;
  }
  
  .faq-item.open .faq-content {
    max-height: 300px; /* Ajustez selon le contenu */
    padding: 1rem;
  }
  
  .no-results {
    text-align: center;
    margin-top: 2rem;
  }
  
  .no-results img {
    max-width: 400px;
    margin-bottom: 1rem;
  }
  
  .no-results p {
    font-size: 1.2rem;
    color: #666;
  }
  