/* Style pour la navbar du backoffice */
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background: white;  /* Assure-toi que la navbar soit au-dessus du contenu */
  }
  
 