.header {
    background-color: rgba(7, 46, 76, 1);
    width: 100%;
    height: auto;
    color: white;
}

.containerIntro h1 {
    font-size: 2.7rem;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 1.5%;
}
.containerIntro p {
    width: 80%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5%;
}

// section réalisation
.realisation-section {
    padding:5rem 5rem;
    width: 85%;
    margin: auto;
  }

  @media(max-width : 2000px){
    .realisation-section{
      width: 90% ;
      padding: 5rem 2rem;
    }
    .containerIntro p {
      width: 85%;
    }
  }
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex: 1;
  }
  .by{
    flex: 1 1 auto; /* Chaque groupe occupe 100% de la largeur */
    box-sizing: border-box;
    padding: 10px;
  }
  .button1{
    margin-bottom: 0.5rem;
  }
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 1rem; /* Espacement entre les boutons */
    margin: 1rem 0;
  }
  
  .category-item {
    flex: 1 1 calc(33.333% - 10px); /* 3 éléments par ligne avec un espace de 10px */
    box-sizing: border-box;
    margin: 5px;
  }

  
 
  
  
  
  .filters span {
    font-weight: bold;
    color: rgba(7, 46, 76, 1);
    margin-right: 1rem;
    margin-bottom: 5rem;
  }
  
  .filters button {
    width: Fixed (129px)px;
    height: Fixed (44px)px;
    top: 131px;
    left: 6px;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 10px ;
    border: 1px 0px 0px 0px;
    background-color: inherit;
    opacity: 0px;
    color:rgba(169, 169, 169, 1) ;
    border: 1px solid rgba(169, 169, 169, 1) ;
  }
  
  .filters button:hover {
    background: rgba(7, 46, 76, 1);
    color: white;
  }
  
  .filters input[type="date"],
  .filters input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  .search{
    gap: 1rem;
    display: flex;
  }
  .searchbutton{
    border-color: white !important;
    display: flex;
    align-items: center;
  }
  .searchbutton img{
    width: 30px;
    height: 30px;
  }

  .filters input[type="date"]::placeholder,
  .filters input[type="text"]::placeholder {
    color: rgba(169, 169, 169, 1);

  }
  
  .filters input:focus {
    outline: none;
    border-color: #007bff;
  }
  


  //style réalisation
  
  .realisation-item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 5vw, 8rem);
    margin-bottom: clamp(2rem, 15vh, 15%);
    width: 100%;
  }
  @media(max-width : 2000px){
    .realisation-item{
      gap: clamp(8rem, 6vw, 8rem);
    }
    .realisation-content h2 {
      font-size: clamp(1.8rem, 3vw, 2.5rem) !important;
    }


  }
  
  .realisation-item.alternate {
    flex-direction: row-reverse; /* Inverse les positions */
  }
  
  /* Pour les petits écrans */
  @media (max-width: 768px) {
    .realisation-item {
      flex-direction: column;
      gap: 2rem;
    }
  
    .realisation-item.alternate {
      flex-direction: column; /* Reste vertical sur mobile */
    }
  }
  
  .realisation-image {
    position: relative;
    z-index: 2;
    width: 40%;
    transform: translateY(-10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Adaptation pour mobile */
  @media (max-width: 768px) {
    .realisation-image {
      width: 100%;
    }
    .realisation-content h2 {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
    }
  }
  
  .realisation-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3; /* Maintient un ratio d'aspect constant */
    object-fit: cover;
    display: block;
  }
  
  .realisation-overlay {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(254, 239, 235, 1); /* Couleur par défaut */
    transform: scale(0.95); /* Légèrement plus petit que l'image */
  }
  
  .realisation-item.alternate .realisation-overlay {
    background-color: rgba(231, 241, 248, 1); /* Couleur alternée */
  }
  
  .realisation-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Adaptation pour mobile */
  @media (max-width: 768px) {
    .realisation-content {
      width: 100%;
    }
  }
  
  .realisation-content h2 {
    font-size: clamp(2.5rem, 3vw, 2.5rem);
    margin-bottom: 0.5rem;
    color: rgba(17, 110, 182, 1);
  }
  
  .realisation-content p {
    color: rgba(7, 46, 76, 1);
    margin-bottom: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.5;
  }
  
  .voir-plus-container {
    display: flex;
    justify-content: flex-end; /* Positionne le lien à droite */
  }
  
  .realisation-item.alternate .voir-plus-container {
    justify-content: flex-start; /* Positionne le lien à gauche */
  }
  
  .voir-plus {
    color: rgba(240, 97, 50, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    position: relative;
    display: inline-flex; /* Permet d'aligner texte et ligne horizontalement */
    align-items: center; /* Aligne verticalement au centre */
  }
  
  .voir-plus::before {
    content: '';
    display: inline-block;
    margin-right: 10px; /* Espace entre la ligne et le texte */
    width: 250px; /* Longueur de la ligne */
    height: 2px; /* Épaisseur de la ligne */
    background-color: rgba(240, 97, 50, 1); /* Même couleur que le texte */
  }
  
  .filtre {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .filtre span {
    color: rgba(7, 46, 76, 1);
    font-weight: bold;
    font-size: 1.5rem;
  }
  

 @media(max-width:2000px){
  .articles-header{
    width: 90% !important;
  }
 } 

.articles-header {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 0 0.8%;
}

.articles-title {
  color: #FF5722;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.title-underline {
  position: absolute;
  top: 26px;
  left: 670px;
  right: 0;
  height: 2px;
  background-color: #FF5722;
}


// Ajoutez ces styles à votre fichier SCSS existant

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  
  .pagination-button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    
    &:not(:disabled):hover {
      background-color: rgba(7, 46, 76, 1);
    }
    fa-icon {
      color: #000; // couleur par défaut
      transition: color 0.3s ease;
      font-weight: bold;
    }
    
    &:hover {
      background-color: #f0f0f0;
      
      fa-icon {
        color: white; // couleur au hover - vous pouvez changer cette couleur
      }
    }
  }
  
  .page-info {
    font-size: 0.9rem;
  }
}

.no-data-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  
  img {
    width: 350px; // Ajustez selon vos besoins
    height: auto;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.3rem;
    color: rgba(7, 46, 76, 1);
    margin: 0;
    width: 50%;
    margin: auto;
  }
}