.header {
    background-color: rgba(7, 46, 76, 1);
    width: 100%;
    height: auto;
    color: white;
}

.containerIntro h1 {
    font-size: 2.7rem;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 1.5%;
}
.containerIntro p {
    width: 80%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5%;
}

// section réalisation
.realisation-section {
    padding:5rem 5rem;
    width: 85%;
    margin: auto;
  }

  @media(max-width : 2000px){
    .realisation-section{
      width: 90% ;
      padding: 5rem 2rem;
    }
    .containerIntro p {
      width: 85%;
    }
  }
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex: 1;
  }
  .by{
    flex: 1 1 auto; /* Chaque groupe occupe 100% de la largeur */
    box-sizing: border-box;
    padding: 10px;
  }
  .button1{
    margin-bottom: 0.5rem;
  }
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 1rem; /* Espacement entre les boutons */
    margin: 1rem 0;
  }
  
  .category-item {
    flex: 1 1 calc(33.333% - 10px); /* 3 éléments par ligne avec un espace de 10px */
    box-sizing: border-box;
    margin: 5px;
  }

  
 
  
  
  
  .filters span {
    font-weight: bold;
    color: rgba(7, 46, 76, 1);
    margin-right: 1rem;
    margin-bottom: 5rem;
  }
  
  .filters button {
    width: Fixed (129px)px;
    height: Fixed (44px)px;
    top: 131px;
    left: 6px;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 10px ;
    border: 1px 0px 0px 0px;
    background-color: inherit;
    opacity: 0px;
    color:rgba(169, 169, 169, 1) ;
    border: 1px solid rgba(169, 169, 169, 1) ;
  }
  
  .filters button:hover {
    background: rgba(7, 46, 76, 1);
    color: white;
  }
  
  .filters input[type="date"],
  .date-filter input[type="date"],
  .search input[type="text"],
  .filters input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  .search{
    gap: 1rem;
    display: flex;
  }
  .searchbutton{
    border-color: white !important;
    display: flex;
    align-items: center;
  }
  .searchbutton img{
    width: 30px;
    height: 30px;
  }

  .filters input[type="date"]::placeholder,
  .filters input[type="text"]::placeholder {
    color: rgba(169, 169, 169, 1);

  }
  
  .filters input:focus, .filter-group input:focus {
    outline: none;
    border-color: #007bff;
  }
  


  //style réalisation
  
  .realisation-item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 5vw, 8rem);
    margin-bottom: clamp(2rem, 15vh, 15%);
    width: 100%;
  }
  @media(max-width : 2000px){
    .realisation-item{
      gap: clamp(4rem, 6vw, 8rem);
    }
    .realisation-content h2 {
      font-size: clamp(1.8rem, 3vw, 2rem) !important;
    }


  }
  
  .realisation-item.alternate {
    flex-direction: row-reverse; /* Inverse les positions */
  }
  
  /* Pour les petits écrans */
  @media (max-width: 768px) {
    .realisation-item {
      flex-direction: column;
      gap: 2rem;
    }
  
    .realisation-item.alternate {
      flex-direction: column; /* Reste vertical sur mobile */
    }
  }
  
  .realisation-image {
    position: relative;
    z-index: 2;
    width: 40%;
    transform: translateY(-10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Adaptation pour mobile */
  @media (max-width: 768px) {
    .realisation-image {
      width: 100%;
    }
    .realisation-content h2 {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
    }
  }
  
  .realisation-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3; /* Maintient un ratio d'aspect constant */
    object-fit: cover;
    display: block;
  }
  
  .realisation-overlay {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    z-index: -1;
    background-color: rgba(254, 239, 235, 1); /* Couleur par défaut */
    transform: scale(0.95); /* Légèrement plus petit que l'image */
  }
  
  .realisation-item.alternate .realisation-overlay {
    background-color: rgba(231, 241, 248, 1); /* Couleur alternée */
  }
  
  .realisation-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Adaptation pour mobile */
  @media (max-width: 768px) {
    .realisation-content {
      width: 100%;
    }
  }
  
  .realisation-content h2 {
    font-size: clamp(2.5rem, 3vw, 2.5rem);
    margin-bottom: 0.5rem;
    color: rgba(17, 110, 182, 1);
  }
  
  .realisation-content p {
    color: rgba(7, 46, 76, 1);
    margin-bottom: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.5;
  }
  
  .voir-plus-container {
    display: flex;
    justify-content: flex-end; /* Positionne le lien à droite */
  }
  
  .realisation-item.alternate .voir-plus-container {
    justify-content: flex-start; /* Positionne le lien à gauche */
  }
  
  .voir-plus {
    color: rgba(240, 97, 50, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    position: relative;
    display: inline-flex; /* Permet d'aligner texte et ligne horizontalement */
    align-items: center; /* Aligne verticalement au centre */
  }
  
  .voir-plus::before {
    content: '';
    display: inline-block;
    margin-right: 10px; /* Espace entre la ligne et le texte */
    width: 250px; /* Longueur de la ligne */
    height: 2px; /* Épaisseur de la ligne */
    background-color: rgba(240, 97, 50, 1); /* Même couleur que le texte */
  }
  
  .filtre {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .filtre span {
    color: rgba(7, 46, 76, 1);
    font-weight: bold;
    font-size: 1.5rem;
  }
  

 @media(max-width:2000px){
  .articles-header{
    width: 90% !important;
  }
 } 

.articles-header {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 0 0.8%;
}

.articles-title {
  color: #FF5722;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.title-underline {
  position: absolute;
  top: 26px;
  left: 670px;
  right: 0;
  height: 2px;
  background-color: #FF5722;
}




.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  
  .pagination-button {
    background: none;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
     justify-content: center;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    
    &:not(:disabled):hover {
      background-color: #116eb6;
    }
    fa-icon {
      color: #000; // couleur par défaut
      transition: color 0.3s ease;
      font-weight: bold;
    }
    
    &:hover {
      background-color: #f0f0f0;
      
      fa-icon {
        color: white; // couleur au hover - vous pouvez changer cette couleur
      }
    }
  }
  
  .page-info {
    font-size: 0.9rem;
  }
}

.no-data-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  
  img {
    width: 350px; // Ajustez selon vos besoins
    height: auto;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.3rem;
    color: rgba(7, 46, 76, 1);
    margin: 0;
    width: 50%;
    margin: auto;
  }
}
@media (max-width:1200px){
  .realisation-content h2{
    font-size: 30px !important;
  }
}
/* Tablettes en paysage (768px-1024px) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .containerIntro{
    h1{
      padding-top: 15% !important;
    }
  }
}
@media (max-width: 900px) {

  .containerIntro {
      h1 {
          font-size: 2rem;
          padding-top: 20%;
      }

      p {
          width: 90%;
          font-size: 1rem;
      }
  }

  .search-container {
      width: 75%;

      input {
          padding: 12px 25px 12px 25px;
          font-size: 14px;
      }

  }
  .blockLeft{
      margin-bottom: 30%;
  }
  .realisation-section{
    padding: 2rem 0;
  }
  .realisation-image img {
    width: 90%;
  }
  
  .realisation-overlay {
   width: 90%;
   left: 12%;
   top: 15%;
  }
  .realisation-content h2{
    font-size: 20px !important;
  }
  .voir-plus{
    font-size: 14px;
}
.articles-title{
  font-size: 25px;
  line-height: 1.2;
}
}



/* Masquer les filtres existants en mode responsive */
@media (max-width: 1300px) {
  .filters.hidden {
    display: none;
  }
}

/* Overlay pour l'effet d'ombre et de flou */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur d'ombre */
  backdrop-filter: blur(5px); /* Effet de flou */
  z-index: 999; /* En dessous du slider */
  opacity: 0; /* Masqué par défaut */
  visibility: hidden; /* Masqué par défaut */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.open {
  opacity: 1; /* Afficher l'overlay */
  visibility: visible; /* Afficher l'overlay */
}

/* Slider des filtres */
.filter-slider {
  position: fixed;
  top: 0;
  right: -100%; /* Caché par défaut */
  width: 80%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000; /* Au-dessus de l'overlay */
  overflow-y: auto; /* Permettre le défilement si le contenu est trop long */
  padding:50px 25px ;
}

.filter-slider.open {
  right: 0; /* Afficher le slider */
}

/* Styles pour le contenu des filtres */
.filter-content {
  margin-top: 20px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group h3 {
  font-size: 1.2rem;
  color: rgba(7, 46, 76, 1);
  margin-bottom: 10px;
}

.filter-button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(169, 169, 169, 1);
  border-radius: 10px;
  background-color: inherit;
  color: rgba(169, 169, 169, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button:hover {
  background-color: rgba(7, 46, 76, 1);
  color: white;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour les catégories */
  gap: 10px;
}

.date-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search {
  display: flex;
  gap: 10px;
}

.searchbutton {
  border: none;
  background: none;
  cursor: pointer;
}

.searchbutton img {
  width: 24px;
  height: 24px;
}

@media (max-width: 840px) {
  .filters {
    display: none;
  }

  .filtre {
    display: flex; // Ou flex selon votre design
    margin-bottom: 20px;
    gap: 1px;
    span{font-family: 'Poppins-bold', sans-serif;}
    
  }
  .filter-header {
    display: flex;
    gap: 5px;
    color: rgba(7, 46, 76, 1);
  }
  .no-data-found p {
    width: 100%;
    font-size: 15px;
  }
  .no-data-found{
    padding: 1rem;
  }
  .filter-header1 {
    display: none !important;
  }
}

.filter-header1 {
  display: flex;
  gap: 5px;
  font-family: "poppins-bold";
  color: rgba(7, 46, 76, 1);
  align-items: center;
}