/* Pour chaque carte de service */
.service-card {
  width: 350px;  /* Largeur fixe de 350px pour chaque carte */
  height:430px;
  background: rgba(244, 244, 244, 1);
  border-radius: 1rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 15%;
}
@media(max-width:2000px){
  .service-card{
    width: 342px ;
  }
}

/* Pour l'icône du service */
.icon-container {
  background-color: rgba(17, 110, 182, 1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}

/* Titre du service */
h3 {
  color: rgba(7, 46, 76, 1);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 800;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Sous-services */
.sub-services {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1% 8%;
  // margin-bottom: 1.5rem;

  p {
    color: rgba(7, 46, 76, 0.8);
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.4;
  }
  .separator {
    width: 70%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin: 0.2rem auto; 
  }
}

/* Partie inférieure de la carte */
.bottom {
  width: 40%;
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
  background-color: rgba(17, 110, 182, 1);
  height: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

     
/* Tablettes en paysage (768px-1024px) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .service-card{
    width: 300px ;
    margin-bottom: 25%;
  }
  h3{
    width: 100%;
    font-size: 16px;
  }
  .icon-container{
    width: 75px;
    height: 75px;
  }
  .sub-services{
    padding: 1% 1%;
    p{
      font-size: 14px;
    }
    
  }
}

/* Téléphones en portrait */
@media (max-width: 767px) and (orientation: portrait) {
  .service-card{
    width: 280px ;
    margin-bottom: 35%;
  }
  h3{
    width: 100%;
    font-size: 15px;
  }
  .icon-container{
    width: 75px;
    height: 75px;
  }
  .sub-services{
    padding: 1% 1%;
    p{
      font-size: 13px;
    }
    
  }


}