<!-- HTML -->
<section class="contact-section">

    <div class="contact-content">
        <h1 class="title">Get in touch</h1>
        <h2 class="subtitle">Vous avez des questions ou<br>un projet en tête ?</h2>

        <div class="description">
            <div class="description-border"></div>
            <p>Notre équipe d'experts est à votre disposition pour vous accompagner. Contactez-nous dès aujourd'hui
                et découvrez comment nous pouvons répondre à vos besoins industriels.</p>
        </div>
    </div>
    <div class="form">
        <form class="contact-form">
            <div class="form-row">
                <div class="form-group">
                    <input type="text" placeholder="Saisissez votre nom" class="form-control">
                    <label>Nom</label>
                </div>

                <div class="form-group">
                    <input type="email" placeholder="Saisissez votre email" class="form-control">
                    <label>E-mail</label>
                </div>
            </div>

            <div class="form-group">
                <textarea placeholder="Saisissez votre message" class="form-control"></textarea>
                <label>Message</label>
            </div>

            <button type="submit" class="submit-button">Envoyer</button>
        </form>
    </div>

</section>