.quote-banner {
    background-color: #F85B1A;
    padding: 15px;
    position: relative;
    // width: 70% !important;
    margin: auto;
    border-radius: 30px;
  }

  .banner-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .banner-text {
    color: white;
    font-size: 1.3em;
    max-width: 60%;
  }

  .quote-button {
    background-color: #1976D2;
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 1rem;
  }

  .footer {
    background-color: #002B4B;
    color: white;
    padding: 100px 20px 20px;
  }

  .footer-content {
    max-width: 85%;
    margin: 0 auto;
  }

  .logo {
    width: 75px;
    height: 55px;
    margin-bottom: 40px;
  }

  .footer-links {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  .footer-column{
    max-width: 450px;
    width: auto;
  }

  .footer-column h3 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
    line-height: 3;
  }

  .footer-column ul li {
    margin-bottom: 12px;
  }

  .footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .social h3 {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }

  .lets-talk {
    font-size: 3.5em;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .social-icons {
    display: flex;
    gap: 20px;
  }

  .social-icon {
    color: white;
    font-size: 2rem;
  }

  .footer-bottom {
    border-top: 1px solid white;
    padding-top: 20px;
    align-items: center;
    margin-bottom: 5%;
  }

  .legal-links {
    display: flex;
    gap: 10px;
  }

  .legal-links a {
    color: white;
    text-decoration: none;
  }

  .separator {
    color: white;
  }

  .copyright {
    color: white;
    text-align: center;
    background-color: rgba(17, 110, 182, 1);
    padding: 15px;
  }
/* Media queries pour les écrans de largeur maximale 1200px */
@media (max-width: 1200px) {

  .banner-text {
      max-width: 100%;
  }

  .social {
      grid-column: span 2;
  }

  .footer-bottom {
      flex-direction: column;
      gap: 20px;
      text-align: center;
  }
}

/* Media queries pour les tailles de téléphone et orientations */
@media (max-width: 799px) {
  .banner-text {
      font-size: 14px;
  }
  .banner-content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
  /* Style pour l'orientation paysage */
  @media (orientation: landscape) {
      .footer-links {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
      }
  }

  /* Styles généraux pour les téléphones */
  .quote-button {
      padding: 12px 20px;
      font-size: 15px;
  }

  .sectionfooter {
      text-align: center;
  }

  .footer-column {
      width: 100%;
  }

  .footer-column ul {
      line-height: 2;
  }

  .footer-content {
      margin-top: 15%;
  }

  .footer-links {
      gap: 10px;
  }

  .social-icons {
      justify-content: center;
  }

  .social-icon {
      font-size: 2.6rem;
  }
}

.sectionfooter {
  position: relative;
  margin-top: 5%;
}

.quote-banner {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 80% !important;
}