.services-section {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 490px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1%;
  box-sizing: border-box;

}

.services-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Couche sombre avec opacité */
  z-index: 1; /* Place l'overlay en arrière-plan */
}


.overlay {
  width: 85%;
  position: relative;
  z-index: 2; /* Place le contenu au-dessus de l'overlay */
  margin: auto;
  margin-top: 8%;
  margin-bottom: 2%;

}

.overlay h1 {
  font-size: 3rem;
}

.badge {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.custom-article-description {
  font-size: 20px;
  color: white;
  line-height: 1.6;
  margin: 12px 0;
}

.custom-article-footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 50px;

}

.custom-author-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.custom-author-name {
  font-size: 16px;
  color: white;
}

.custom-article-date {
  font-size: 16px;
  color: white;
  margin-left: auto;
}


//style block 1 
.service-section {
  color: rgba(7, 46, 76, 1);
  padding: 20px;
  width: 85%;
  margin: auto;
  padding: 1.5%;
  box-sizing: border-box;

  h1 {
    font-size: 28px;
    color: #0056b3;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .description,
  .extra-text {
    margin-bottom: 20px;

    p {
      width: 100%;
      margin-bottom: 2rem;
      line-height: 1.6;
      font-size: 1.2rem;
    }
  }

  .content {
    display: flex;
    gap: 20px;
    align-items: stretch;


    .text-content {
      width: 60%;
      line-height: 2;
      font-size: 1.2rem;

      p {
        width: 100%;
        font-size: 1.2rem;
        line-height: 2;
        margin-bottom: 1rem;
      }
    }

    .video-content {
      max-width: 40%;
      position: relative;

      .video-thumbnail-container {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 30px;
        }

        .play-button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.25);
          border: none;
          color: #fff;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 1.5rem;

          i {
            animation: pulse 1.5s infinite;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
  }

  @keyframes pulse {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }
  }

}

.content1 {
  width: 100%;

  .text-content {
    line-height: 2;
    font-size: 1.2rem;

    p {
      width: 100%;
      font-size: 1.2rem;
      line-height: 2;
      margin-bottom: 1rem;
    }
  }

  .video-content {
    width: 100%;
    height: 500px;
    margin-bottom: 2%;
    position: relative;

    .video-thumbnail-container {
      position: relative;
      border-radius: 30px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.25);
        border: none;
        color: #fff;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1.5rem;

        i {
          animation: pulse 1.5s infinite;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  @media (max-width : 2000px) {
    .video-content {
      height: 350px;
    }
  }
}

.content2 {
  display: flex;
  gap: 20px;
  align-items: stretch;


  .text-content {
    width: 40%;
    line-height: 2;
    font-size: 1.2rem;

    p {
      width: 100%;
      font-size: 1.2rem;
      line-height: 2;
      margin-bottom: 1rem;
    }
  }

  .video-content {
    max-width: 60%;
    position: relative;

    .video-thumbnail-container {
      position: relative;
      border-radius: 30px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.25);
        border: none;
        color: #fff;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1.5rem;

        i {
          animation: pulse 1.5s infinite;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

.comment-section {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  gap: 1rem;
  width: 85%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment-title {
  font-size: 28px;
  font-weight: bold;
  color: #E67E22;
  /* Couleur orangée */
  margin-bottom: 5px;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: #E67E22;
}

.comment-container {
  display: flex;
  padding: 1.2rem;
  width: 85%;
  margin: auto;
  align-items: flex-start;
  gap: 2rem;  
  margin-bottom: 1.5rem;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  object-fit: cover;
}

.comment-content {
  flex: 1;
}

.comment-header {
  display: flex;
  line-height: 1;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.user-name {
  font-family: "poppins-bold";
  font-size: 22px;
  color: rgba(17, 110, 182, 1);
}

.comment-date {
  font-size: 14px;
  color: gray;
  font-style: italic;
}

.comment-text {
  font-size: 19px;
  color: rgb(7, 46, 76);
  line-height: 1.5;
}


.givesec{
  display: flex;
  justify-content:center;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 90%;
  padding: 1rem;
  margin: auto;
}
.give{
  border-radius: 15px;
  font-size: 18px;
  background: #116eb6;
  color: white;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
}


/* Tablettes en paysage (768px-1024px) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .givesec{
    margin-bottom:10%;
   }
   .overlay{
    h1{
      font-size: 2rem;
    }
   }
   .service-section h1{
    font-size: 26px;
   }
   .content1 .text-content p{
    text-align: justify;
    hyphens: auto;
    }
   .comment-section,.comment-container{
    width: 90%;
   }
   .service-section{
    width: 90%;
    .content .text-content p{
      text-align: justify;
      hyphens: auto;
    }
   }


}

/* Téléphones en portrait */
@media (max-width: 767px) and (orientation: portrait) {
 
 .overlay{
  margin-top: 18%;
  width: 95%;
  h1{
    font-size: 18px;
  }
 }
 
 .badge{
  font-size: 14px;
 }
 .custom-article-description{
  font-size: 15px;
 }
 .services-section{
  min-height: 370px;
 }
 .custom-author-img{
  width: 45px;
  height: 45px;
 }
 .custom-author-name{
  font-size: 13px;
 }
 .custom-article-date{
  font-size: 12px;
 }
 .custom-article-footer{
  margin-top: 20px !important;
 }
 .service-section{
  width: 95%;
  h1{
    font-size: 18px;
    margin-top: 4%;
  }
  .content .text-content p{
    font-size: 16px !important;
  }
 }
 .content1 .text-content p{
 font-size: 16px;
 text-align: justify;
 hyphens: auto;
 }
 .service-section .content{
  flex-direction: column;
  .text-content{
    width: 100% !important;
    text-align: justify;
    hyphens: auto;
  }
  .video-content{
    max-width: 100% !important;
   }
 }
 .content1{
  .video-content{
    max-height: 25vh;
  }
 }
 .comment-section,.comment-container{
  width: 95%;
  padding: 0.5rem;
 }
 .comment-title{
  font-size: 20px;
 }
 .user-image{
  width: 45px;
  height: 45px;
 }
 .comment-container{
  gap:1rem
 }
 .user-name{
  font-size: 18px;
 }
 .comment-date{
  font-size: 12px;
 }
 .comment-text{
  font-size: 15px;
  text-align: justify;
  hyphens: auto;
 }
 .givesec{
  margin-bottom:30%;
 }
 .give{
  font-size: 16px;
 }
}
