<!-- Header section -->
<section class="services-section" [ngStyle]="{'background-image': 'url(' + currentService?.bannerImage + ')'}">
  <div class="overlay">
    <span class="badge">Article / {{ currentService?.type }}</span>
    <h1>{{ currentService?.title }}</h1>
    <p>{{ currentService?.introText }}</p>
    <p class="custom-article-description">{{ currentService.description }}</p>
    <div class="custom-article-footer">
      <img [src]="currentService.authorImage" alt="Photo de l'auteur" class="custom-author-img" />
      <p class="custom-author-name">Rédigé par <span class="author-span">{{ currentService.authorName}}</span></p>
      <span class="custom-article-date">{{ currentService.date | date: 'dd MMMM yyyy' }}</span>
    </div>
  </div>
</section>