.sidebar {
    width: 12vw;
    height: 100vh;
    color: rgba(137, 133, 131, 1);
    transition: width 0.6s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    border-right: 1px solid rgba(137, 133, 131, 0.5);
    overflow-y: auto;
    scrollbar-width: none;
    background: white;
    position: fixed; // Ajout de position fixed
    top: 0; // Alignement en haut
    left: 0; // Alignement à gauche
    z-index: 100; // S'assurer que la sidebar est au-dessus du contenu
  
  }
  
  .sidebar.expanded {
    width: 300px;
    background: url("/images/AdminPageAssets/Frame 216 (1).png") no-repeat center center/cover;
    align-items: center;
  }
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    .name{
       color: rgba(17, 110, 182, 1);
        font-family: "poppins-bold";
    }
  }
  .profile img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
  .logo img{
    width: 80px;
    height: 60px;
  }

  @media(max-width : 1300px){
    .logo img{
      width: 60px;
      height: 45px;
    }
    .profile img {
      width: 60px;
      height: 60px;
    }
    .profile{
      margin-top: 5%;
    }
  }
  .menu{
    margin-top: 5%;
  }
  ul.menu {
    list-style: none;
    padding: 0;
    cursor: pointer;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-family: 'poppins-bold' !important;
        span{
          font-family: 'poppins-bold';
        }

        img {
            width: 30px;
            height: 30px;
            // Filtre pour la couleur grise par défaut
            filter: invert(54%) sepia(9%) saturate(168%) hue-rotate(314deg) brightness(89%) contrast(85%);
            transition: filter 0.3s ease;
        }

        &:hover {
            color: rgba(17, 110, 182, 1);
            
            img {
                // Filtre pour la couleur bleue au survol
                filter: invert(36%) sepia(97%) saturate(1061%) hue-rotate(182deg) brightness(89%) contrast(87%);
            }
        }

        &.active {
            color: rgba(17, 110, 182, 1);

            img {
                // Même filtre que le survol pour la couleur bleue
                filter: invert(36%) sepia(97%) saturate(1061%) hue-rotate(182deg) brightness(89%) contrast(87%);
            }
        }
    }
}