<nav class="sidebar" [class.expanded]="isExpanded" (mouseenter)="toggleExpand(true)" (mouseleave)="toggleExpand(false)">
    <div class="logo"> <img src="/images/Logo-CIS _ Cameroun (5).png" alt="Logo"> </div>
    <div class="profile">
      <img src="/images/assetsArticles/photo1.jpeg" alt="User Profile">
      <p class="name">{{ getTruncatedEmail('Henry DIBANOHA')}}</p>
      <p>{{ getTruncatedEmail('loremIpsumgmail.com') }}</p>
    </div>
    <ul class="menu">
      <li  routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
        <img src="/images/AdminPageAssets/home.svg" alt="Accueil">
        <span *ngIf="isExpanded">Accueil</span>
      </li>
      <li  routerLink="/admin" routerLinkActive="active">
        <img src="/images/AdminPageAssets/user-octagon.svg" alt="Admins">
        <span *ngIf="isExpanded">Admins</span>
      </li>
      <li   routerLink="/" routerLinkActive="active">
        <img src="/images/AdminPageAssets/presention-chart.svg" alt="Reporting">
        <span *ngIf="isExpanded">Reporting</span>
      </li>
      <li  routerLink="/" routerLinkActive="active" >
        <img src="/images/AdminPageAssets/edit-2.svg" alt="Articles">
        <span *ngIf="isExpanded">Articles</span>
      </li>
      <li  routerLink="/" routerLinkActive="active">
        <img src="/images/AdminPageAssets/note-add.svg" alt="Réalisations">
        <span *ngIf="isExpanded">Réalisations</span>
      </li>
      <li  routerLink="/" routerLinkActive="active">
        <img src="/images/AdminPageAssets/document-text.svg" alt="Devis">
        <span *ngIf="isExpanded">Devis</span>
      </li>
      <li  routerLink="/" routerLinkActive="active">
        <img src="/images/AdminPageAssets/messages-3.svg" alt="Témoignages">
        <span *ngIf="isExpanded">Témoignages</span>
      </li>
      <li  routerLink="/" routerLinkActive="active" >
        <img src="/images/AdminPageAssets/stickynote.svg" alt="Historiques">
        <span *ngIf="isExpanded">Historiques</span>
      </li>
      <li  routerLink="/"  routerLinkActive="active">
        <img src="/images/AdminPageAssets/category-2.svg" alt="Paramètres">
        <span *ngIf="isExpanded">Paramètres</span>
      </li>
      <li (click)="logout()">
        <img src="/images/AdminPageAssets/export.svg" alt="Déconnexion">
        <span *ngIf="isExpanded">Déconnexion</span>
      </li>
    </ul>
  </nav>