<section class="contacts-section">
    <div class="contacts-container">
        <div class="contacts-info">
            <h2>Contacts</h2>
            <div class="contacts">
                <p>Lorem ipsum dolor sit amet consectetur. Pretium quis aliquam cursus urna sit.
                    Lorem ipsum dolor sit amet consectetur. Pretium quis aliquam cursus urna sit..</p>
                <p>Lorem ipsum dolor sit amet consectetur. <strong> Service Client</strong></p>
                <p>
                    <img src="/icons/Frame 8.png" alt="phone icon" class="icon" />
                    <span>+237 659 588 481</span> /<span>+237 673 105 487</span>
                </p>
                <p>
                    <img src="/icons/Frame 9.png" alt="email icon" class="icon" />
                    accueil&#64;cis-cameroun.com
                </p>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <h3>Get in touch</h3>
        <p>Vous avez des questions ou un projet en tête ?</p>
        <p class="form-desc">
            Notre équipe d'experts est à votre disposition pour vous accompagner.
            Contactez-nous dès aujourd’hui et découvrez comment nous pouvons
            répondre à vos besoins industriels.
        </p>
        <form action="#" method="POST">
            <label>Nom</label>
            <input type="text" name="name" placeholder="Saisissez votre Nom" required />
            <label>Email</label>
            <input type="email" name="email" placeholder="Saisissez votre email" required />
            <label>Message</label>
            <textarea name="message" placeholder="Saisissez votre message" required></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </div>
</section>
<div class="addresses">
    <h3>Adresses</h3>
    <div class="blockinfo">
        <div class="blockinfo-icon">
            <img src="/icons/location (1).png" alt="location icon" class="icon" />
        </div>
        <div class="blockinfo-text">
            <p>
                <span> Dir Gen : </span> Rue Castelneau 846 Akwa BP 2108
            </p>
            <p>
             Douala - Cameroun
            </p>
        </div>
    </div>

    <div class="map">
        <!-- Remplacer par une carte réelle si nécessaire -->
        <img src="/images/Frame 6.png" alt="carte"  />
    </div>
</div>