<section class="loginBlock" *ngIf="!shouldShowNotAvailable">
    <div class="login-container">
        <div class="logo">
            <img src="/images/Logo-CIS _ Cameroun (5).png" alt="Logo CIS Cameroun" />
            <p class="tagline">Think Smart, <span class="orange">Build Well</span></p>
        </div>
        <img src="/images/AdminPageAssets/Calque_1.png" alt="iconkey" />
        <h2>Bienvenu à vous !!</h2>
        <form class="login-form" (ngSubmit)="onLogin()">
            <label for="email">E-mail <span>*</span></label>
            <input type="email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" placeholder="Saisissez votre e-mail" required>
            
            <label for="password">Mot de passe <span>*</span></label>
            <div class="password-container">
                <input type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}"  placeholder="Saisissez votre mot de passe" required>
            </div>
            
            <button type="submit">Se connecter</button>
        </form>
        <div class="footer-links">
            <a href="#">Mot de passe <span class="blue">oublié ?</span></a> | 
            <a href="#">Conditions et politiques d’utilisations</a>
        </div>
    </div>

</section>
<!-- Utilisation du composant partagé -->
<app-not-available *ngIf="shouldShowNotAvailable"></app-not-available>