<div class="about-section">
    <h1 #titleAbout>À Propos</h1>
    <p #description>
      Nous sommes une société à vocation technologique, qui apporte des solutions
      locales en matière de commercialisation, installations, suivi d'équipements
      et infrastructures techniques des secteurs industriels et domestiques.
    </p>
    <div class="about-images">
      <img #img1 class="img1" src="/images/Frame 10.png" alt="Travailleur 1" />
      <img #img2 class="img2" src="/images/Frame 7 (2).png" alt="Travailleur 2" />
      <img #img3 class="img1"src="/images/Frame 8 (2).png" alt="Travailleur 3" />
    </div>
  </div>
  <div class="slogan"> Think Smart,<span> Build Well</span></div>
  <section class="vision">
    <div class="imageVision">
      <img class="img"src="/images/Frame 9 (1).png" alt="Travailleur 3" />
    </div>
    <div class="descVision" #textAnimation> 
      Être l’un des principaux <span>leader en Afrique Centrale </span> avec une 
      accentuation sur le  marché camerounais dans la commercialisation, 
      la distribution, l’installation et la  maintenance des produits et services
       technologiques est la vision de <span>CIS Cameroun</span> .
    </div>
  </section>
  <app-mission-section></app-mission-section>
  <app-team-carousel></app-team-carousel>
  <app-clients-carousel></app-clients-carousel>