.about-section {
  text-align: center;
  padding: 50px 20px;
  background-color: rgba(17, 110, 182, 1);
  color: white;
  position: relative;
  height: auto;
  // min-height: 80vh;
  margin-bottom: 12%;
  
}
@media(max-width : 2000px){
  .about-section{
    margin-bottom: 15%;
  }
}

.about-section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  line-height: 1.3em;
  overflow: hidden;
  margin-top: 5%;
}

.about-section p {
  font-size: 1.2em;
  margin-bottom: 40%;
  line-height: 1.6;
  width: 80%;
  margin: auto;
  padding: 8% 2% ;
  padding-top: 1%;

}

.about-images {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  transform: translate(-50%, -40%);
  left: 50%;
  top:100% ;

}


.img1{
  width: 290px;
  height: 248px;
  object-fit: cover;
  border-radius: 35px;
  margin-top: 3%;
}
.img2{
  width: 365px;
  height: 324px;
  object-fit: cover;
  border-radius: 20px;

}

.slogan{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: rgba(17, 110, 182, 1);
  span{
    color: rgba(240, 97, 50, 1);
  }
}

/* Section Vision */
.vision {
width: 60%;
margin: auto;
display: flex;
flex-wrap: wrap; /* Permet de passer en colonne sur petits écrans */
gap: 1rem; /* Espacement entre les blocs */
align-items: center; /* Aligne verticalement le texte et l'image */
justify-content: center; /* Centrage global sur grands écrans */
box-sizing: border-box;
}
@media(max-width: 2000px){
.vision{
  width: 70%;
}
}
/* Bloc image */
.imageVision {
flex: 1 1 300px; /* Le bloc occupe au moins 300px et peut grandir */
width: 40%; /* Limite la largeur de l'image sur grands écrans */
padding: 2%; /* Marges intérieures */
box-sizing: border-box;
}

.imageVision img {
width: 100%; /* L'image s'adapte à la taille de son conteneur */
height: auto; /* Garde les proportions de l'image */
object-fit: cover;
border-radius: 30px;
max-height: 400px;
}

/* Bloc description */
.descVision {
flex: 1 1 400px; /* Le texte occupe au moins 400px et peut grandir */
width: 60%; /* Limite la largeur du texte sur grands écrans */
line-height: 1.8;
color: rgba(7, 46, 76, 1);
font-size: 18px;
}

.descVision span {
font-weight: 800;
}

/* Media Queries */
@media (min-width: 1200px) {
.vision {
  gap: 1rem; /* Augmente légèrement l'espace entre les blocs */
}

.descVision {
  font-size: 25px; /* Taille de police adaptée aux grands écrans */
}
}



   
/* Tablettes en paysage (768px-1024px) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.about-section{
 h1{
  font-size: 32px;
  margin-top: 8%;
  margin-bottom: 0;
}
p{
  width: 95%;
  padding: 0;
  margin-bottom: 10%;
}
}
.img2{
width: 280px;
height: 250px;
}
.img1{
width: 200px;
height: 180px;
}
.about-images{
gap : 1rem;
}
.slogan{
margin-top: 20%;
}
.vision {
width: 95%;
padding: 1%;
}
.descVision{
font-size: 18px;
}
.imageVision{
max-width: 34%;
}

}

/* Téléphones en portrait */
@media (max-width: 767px) and (orientation: portrait) {
.about-section{
  padding: 60px 10px;
  h1{
   font-size: 32px;
   margin-top: 8%;
   margin-bottom: 0;
 }
 p{
   width: 95%;
   padding: 0;
   font-size: 16px;
   margin-bottom: 10%;
 }
 .img1{
  display: none;
 }
 .img2{
  width: 224px;
  height: 200px;
 }
}
.slogan{
margin-top: 35%;
font-size: 24px;
font-family: "poppins-bold";
margin-bottom: 3%;
}
.vision{
width: 95%;
flex-direction: column-reverse;
gap: 0;
}
.descVision{
width: 90%;
text-align: justify;
font-size: 15px;
hyphens: auto;
flex: 1 1 200px;
}
.imageVision{
width: 80%;
flex: 1 1 250px;
}
}  