/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
// @import 'ngx-toastr/toastr';
@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins/Poppins-Regular.ttf')format('truetype');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'poppins-bold';
    src: url('/fonts/poppins/Poppins-SemiBold.ttf')format('truetype');
    font-style: normal;
    font-weight: 900;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

h3, h2,h1{
    font-family: "poppins-bold", sans-serif;
}

/* Largeur de la scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Ajuste la largeur de la scrollbar */
}

/* Fond de la scrollbar */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
}

/* Curseur (la partie que l'on fait glisser) */
::-webkit-scrollbar-thumb {
  background: #4a90e2; /* Couleur du curseur */
  border-radius: 10px; /* Coins arrondis */
}

/* Effet au survol */
::-webkit-scrollbar-thumb:hover {
  background: #357ABD; /* Changement de couleur au survol */
}
