/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
// @import 'ngx-toastr/toastr';
@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins/Poppins-Regular.ttf')format('truetype');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'poppins-bold';
    src: url('/fonts/poppins/Poppins-SemiBold.ttf')format('truetype');
    font-style: normal;
    font-weight: 900;
  
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

h3, h2,h1{
    font-family: "poppins-bold", sans-serif;
}