<div id="newsletter" class="newsletter-container">
    <div class="icon">
        <img src="/images/assetsArticles/Frame 94 (3).png" alt="Newsletter Icon" />
    </div>
    <h2 class="newsletter">Souscrire à la Newsletter</h2>
    <p class="newsletterText">Lorem ipsum dolor sit amet consectetur. Egestas nulla est urna ullamcorper duis
        nibh vitae elementum.</p>
    <div class="input-container">
        <input type="email" placeholder="Saisissez votre email" class="email-input" />
        <button class="submit-button">
            <img src="/images/assetsArticles/Frame 120.png" alt="Send Icon" />
        </button>
    </div>
</div>